div.dialog-container
  div.dialog-content
    div.close-button-container
      button.material-symbols-outlined.dialog-content__close-button Close
    div.dialog-content__text
      p.dialog-content__paragraph #{paragraphText}
      button.dialog-content__update-button Update
